lddi.knx.library/.classpath
lddi.knx.library/.project
lddi.knx.library/.settings
lddi.knx.library/target
lddi.pom/.project
lddi.pom/.settings
lddi.pom/composite/.classpath
lddi.pom/composite/.project
lddi.pom/composite/.settings
lddi.pom/composite/target
lddi.pom/target
