* text=auto !eol
hw.exporter.activityhub/pom.xml -text
hw.exporter.activityhub/src/main/java/org/universAAL/hw/exporter/activityhub/Activator.java -text
hw.exporter.activityhub/src/main/java/org/universAAL/hw/exporter/activityhub/ActivityHubBusServer.java -text
hw.exporter.activityhub/src/main/java/org/universAAL/hw/exporter/activityhub/ActivityHubServiceOntology.java -text
hw.exporter.activityhub/src/main/java/org/universAAL/hw/exporter/activityhub/ActivityHubServiceProvider.java -text
hw.exporter.activityhub/src/main/java/org/universAAL/hw/exporter/activityhub/util/LogTracker.java -text
hw.exporter.activityhub/src/main/java/org/universAAL/hw/exporter/knx/devices/listeners/PresenceDetectorListener.java -text
hw.exporter.zigbee.ha/LICENSE -text
hw.exporter.zigbee.ha/NOTICE -text
hw.exporter.zigbee.ha/pom.xml -text
hw.exporter.zigbee.ha/src/main/java/org/universAAL/hw/exporter/zigbee/ha/Activator.java -text
hw.exporter.zigbee.ha/src/main/java/org/universAAL/hw/exporter/zigbee/ha/devices/DimmerLightCallee.java -text
hw.exporter.zigbee.ha/src/main/java/org/universAAL/hw/exporter/zigbee/ha/devices/OnOffLightCallee.java -text
hw.exporter.zigbee.ha/src/main/java/org/universAAL/hw/exporter/zigbee/ha/devices/PresenceDetectorCallee.java -text
hw.exporter.zigbee.ha/src/main/java/org/universAAL/hw/exporter/zigbee/ha/devices/TemperatureSensorCallee.java -text
hw.exporter.zigbee.ha/src/main/java/org/universAAL/hw/exporter/zigbee/ha/devices/listeners/DimmerLightListener.java -text
hw.exporter.zigbee.ha/src/main/java/org/universAAL/hw/exporter/zigbee/ha/devices/listeners/OnOffLightListener.java -text
hw.exporter.zigbee.ha/src/main/java/org/universAAL/hw/exporter/zigbee/ha/devices/listeners/PresenceDetectorListener.java -text
hw.exporter.zigbee.ha/src/main/java/org/universAAL/hw/exporter/zigbee/ha/devices/listeners/TemperatureSensorListener.java -text
hw.exporter.zigbee.ha/src/main/java/org/universAAL/hw/exporter/zigbee/ha/services/DimmerLightService.java -text
hw.exporter.zigbee.ha/src/main/java/org/universAAL/hw/exporter/zigbee/ha/services/HAServiceFactory.java -text
hw.exporter.zigbee.ha/src/main/java/org/universAAL/hw/exporter/zigbee/ha/services/HAServicesOntology.java -text
hw.exporter.zigbee.ha/src/main/java/org/universAAL/hw/exporter/zigbee/ha/services/OnOffLightService.java -text
hw.exporter.zigbee.ha/src/main/java/org/universAAL/hw/exporter/zigbee/ha/services/PresenceDetectorService.java -text
hw.exporter.zigbee.ha/src/main/java/org/universAAL/hw/exporter/zigbee/ha/services/TemperatureSensorService.java -text
iso11073.library/pom.xml -text
iso11073.library/src/main/java/org/universAAL/iso11073/activityhub/devicecategory/ActivityHubDeviceCategoryUtil.java -text
iso11073.library/src/main/java/org/universAAL/iso11073/activityhub/devicecategory/Iso11073ContactClosureSensor.java -text
iso11073.library/src/main/java/org/universAAL/iso11073/activityhub/devicecategory/Iso11073MotionSensor.java -text
iso11073.library/src/main/java/org/universAAL/iso11073/activityhub/devicecategory/Iso11073SwitchSensor.java -text
iso11073.library/src/main/java/org/universAAL/iso11073/activityhub/devicemodel/ActivityHubFactory.java -text
iso11073.library/src/main/java/org/universAAL/iso11073/activityhub/devicemodel/ActivityHubSensor.java -text
iso11073.library/src/main/java/org/universAAL/iso11073/activityhub/devicemodel/ContactClosureSensor.java -text
iso11073.library/src/main/java/org/universAAL/iso11073/activityhub/devicemodel/ContactClosureSensorEvent.java -text
iso11073.library/src/main/java/org/universAAL/iso11073/activityhub/devicemodel/MotionSensor.java -text
iso11073.library/src/main/java/org/universAAL/iso11073/activityhub/devicemodel/MotionSensorEvent.java -text
iso11073.library/src/main/java/org/universAAL/iso11073/activityhub/devicemodel/SwitchSensor.java -text
iso11073.library/src/main/java/org/universAAL/iso11073/activityhub/devicemodel/SwitchSensorEvent.java -text
iso11073.library/src/main/java/org/universAAL/iso11073/activityhub/driver/ActivityHubDriverManager.java -text
iso11073.library/src/main/java/org/universAAL/iso11073/activityhub/driver/Iso11073ContactClosureSensorDriver.java -text
iso11073.library/src/main/java/org/universAAL/iso11073/activityhub/driver/Iso11073ContactClosureSensorInstance.java -text
iso11073.library/src/main/java/org/universAAL/iso11073/activityhub/driver/Iso11073MotionSensorDriver.java -text
iso11073.library/src/main/java/org/universAAL/iso11073/activityhub/driver/Iso11073MotionSensorInstance.java -text
iso11073.library/src/main/java/org/universAAL/iso11073/activityhub/driver/Iso11073SwitchSensorDriver.java -text
iso11073.library/src/main/java/org/universAAL/iso11073/activityhub/driver/Iso11073SwitchSensorInstance.java -text
iso11073.library/src/main/java/org/universAAL/iso11073/activityhub/driver/interfaces/ActivityHubDriver.java -text
iso11073.library/src/main/java/org/universAAL/iso11073/activityhub/driver/interfaces/ActivityHubDriverClient.java -text
iso11073.library/src/main/java/org/universAAL/iso11073/activityhub/driver/interfaces/IActivityHubActuator.java -text
iso11073.library/src/main/java/org/universAAL/iso11073/activityhub/location/ActivityHubLocationUtil.java -text
iso11073.library/src/main/java/org/universAAL/iso11073/activityhub/util/LogTracker.java -text
knx.devicemanager/conf/services/knx.devicemanager.properties -text
knx.devicemanager/data/OfficeProject2.knxproj -text
knx.devicemanager/pom.xml -text
knx.devicemanager/readme.txt -text
knx.devicemanager/src/main/java/org/universAAL/knx/devicemanager/Activator.java -text
knx.devicemanager/src/main/java/org/universAAL/knx/devicemanager/KnxDeviceManager.java -text
knx.devicemanager/src/main/java/org/universAAL/knx/devicemanager/KnxImporter.java -text
knx.devicemanager/src/main/java/org/universAAL/knx/devicemanager/util/LogTracker.java -text
knx.library/pom.xml -text
knx.library/src/main/java/org/universAAL/knx/devicecategory/KnxDpt1.java -text
knx.library/src/main/java/org/universAAL/knx/devicedriver/KnxDriver.java -text
knx.library/src/main/java/org/universAAL/knx/devicemodel/KnxDevice.java -text
knx.library/src/main/java/org/universAAL/knx/devicemodel/KnxDeviceFactory.java -text
knx.library/src/main/java/org/universAAL/knx/devicemodel/KnxDpt1Device.java -text
knx.library/src/main/java/org/universAAL/knx/library/utils/LogTracker.java -text
knx.library/src/main/java/org/universAAL/knx/networkdriver/KnxNetwork.java -text
knx.library/src/main/java/org/universAAL/knx/utils/KnxEncoder.java -text
knx.library/src/main/java/org/universAAL/knx/utils/KnxGroupAddress.java -text
knx.library/src/main/java/org/universAAL/knx/utils/KnxTelegram.java -text
knx.networkdriver/conf/services/knx.networkdriver.properties -text
knx.networkdriver/pom.xml -text
knx.networkdriver/readme.txt -text
knx.networkdriver/src/main/java/it/polito/elite/domotics/dog2/knxnetworkdriver/Activator.java -text
knx.networkdriver/src/main/java/it/polito/elite/domotics/dog2/knxnetworkdriver/KnxCommand.java -text
knx.networkdriver/src/main/java/it/polito/elite/domotics/dog2/knxnetworkdriver/KnxCommunication.java -text
knx.networkdriver/src/main/java/it/polito/elite/domotics/dog2/knxnetworkdriver/KnxNetworkDriverImp.java -text
knx.networkdriver/src/main/java/it/polito/elite/domotics/dog2/knxnetworkdriver/KnxNotification.java -text
knx.networkdriver/src/main/java/it/polito/elite/domotics/dog2/knxnetworkdriver/KnxReader.java -text
knx.networkdriver/src/main/java/it/polito/elite/domotics/dog2/knxnetworkdriver/KnxWriter.java -text
knx.networkdriver/src/main/java/org/universAAL/knx/networkdriver/util/LogTracker.java -text
knx.refinementdrivers/knx.dpt1refinementdriver.iso11073/conf/factories/knx.dpt1refinementdriver.iso11073.properties -text
knx.refinementdrivers/knx.dpt1refinementdriver.iso11073/pom.xml -text
knx.refinementdrivers/knx.dpt1refinementdriver.iso11073/src/main/java/org/universAAL/knx/dpt1refinementdriver/iso11073/Activator.java -text
knx.refinementdrivers/knx.dpt1refinementdriver.iso11073/src/main/java/org/universAAL/knx/dpt1refinementdriver/iso11073/KnxDpt1Instance.java -text
knx.refinementdrivers/knx.dpt1refinementdriver.iso11073/src/main/java/org/universAAL/knx/dpt1refinementdriver/iso11073/KnxDpt1RefinementDriver.java -text
knx.refinementdrivers/knx.dpt1refinementdriver.iso11073/src/main/java/org/universAAL/knx/dpt1refinementdriver/iso11073/util/KnxDeviceConfig.java -text
knx.refinementdrivers/knx.dpt1refinementdriver.iso11073/src/main/java/org/universAAL/knx/dpt1refinementdriver/iso11073/util/LogTracker.java -text
lddi.testing.frameworks/knx.framework/conf/all.policy -text
lddi.testing.frameworks/knx.framework/conf/factories/knx.dpt1refinementdriver.iso11073.properties -text
lddi.testing.frameworks/knx.framework/conf/felix.client.run.properties -text
lddi.testing.frameworks/knx.framework/conf/mw.bus.model/sodapop.key -text svneol=unset#application/octet-stream
lddi.testing.frameworks/knx.framework/conf/services/knx.devicemanager.properties -text
lddi.testing.frameworks/knx.framework/conf/services/knx.networkdriver.properties -text
lddi.testing.frameworks/knx.framework/conf/services/org.apache.felix.webconsole.internal.servlet.OsgiManager.properties -text
lddi.testing.frameworks/knx.framework/conf/services/org.ops4j.pax.logging.properties -text
lddi.testing.frameworks/knx.framework/conf/services/org.universAAL.mw.data.representation.properties -text
lddi.testing.frameworks/knx.framework/data/OfficeProject2.knxproj -text
lddi.testing.frameworks/knx.framework/pom.xml -text
lddi.testing.frameworks/knx.framework/run.bat -text
pom/pom.xml -text
